/* PC */
@media screen and (min-width: 992px) {
    /* hidden code html for mobile  */
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }

    .hide-on-pc {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    /* cho cai logo ra giua  */
    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #0f1b4c;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    /* hien lop phu  */
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* hien bar  */
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    /* vach ngan cach list menu va action (sign in/up) */
    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero-wrap .desc {
        width: 80%;
        margin: 30px auto auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guide-item {
        flex: 1;
        margin: 0;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }



    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
    }

    .stats .row .info {
        display: flex;
        align-items: center;
        order: 1;
        padding: 0 20px;
        padding-bottom: 20px;

    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }

    .content-responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }

    .hero {
        padding: 130px 0 80px;
        text-align: center;
    }
    
    .hero-img {
        display: none;
    }

    .contact .info {
        padding-left: 20px;
    }

    .copyright {
        margin-top: 40px;
    }

    .clients .images img {
        padding: 20px;
    }

}

/* Mobile */
@media screen and (max-width: 767px) {
    .hero {
        padding-top: 50px;
    }

    .hero .title {
        font-size: 3rem;
    }
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .action {
        display: none;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .hero-wrap .title {
        margin-top: 20px;
        font-size: 5.2rem;
    }

    .hero-wrap .desc {
        width: 100%;
    }

    .clients {
        margin-top: 50px;
    }

    .clients .images {
        flex-direction: column;
        row-gap: 20px;
    }

    .clients .images img + img  {
        margin-top: 20px;
    }

    .guides {
        margin: 50px 0;
    }

    .list-guides {
        flex-direction: column;
        row-gap: 60px;
    }

    .guide-cta {
        margin-top: 60px;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .starts {
        margin-top: 10px;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats-trend {
        left: 20px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}
